.main::selection,
.gradient::selection,
.mainText::selection,
.descriptionText::selection,
.hoverContainer::selection,
.spanDescription::selection,
.descriptionText .descriptionText_title::selection,
.descriptionText .descriptionText_sub_title::selection {
  background-color: #44444456;
  color: #ffffffd5;
}

.main {
  background-color: rgb(0, 0, 0);
  height: auto;
  color: rgb(199, 199, 199);
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3%;
}

.gradient {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15vw;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0));
  z-index: 2;
}

.mainText {
  position: relative;
  font-size: 3vw;
  margin-bottom: 15vh;
}

.mainText span {
  text-decoration: underline;
}

.descriptionText span {
  text-decoration: underline;
}

.hoverContainer {
  position: relative;
}

.hoverContainer:hover .spanDescription {
  visibility: visible;
  opacity: 1;
}

.hoverContainer:not(:hover) .spanDescription {
  visibility: hidden;
  opacity: 0;
  transition-delay: 0.5s;
}

.spanDescription {
  min-width: 285px;
  position: absolute;
  background-color: rgba(44, 44, 44, 0.85);
  visibility: hidden;
  border-radius: 5px;
  padding: 25px;
  text-align: left;
  z-index: 1000;
  font-size: 14px;
  letter-spacing: 0.5px;
  top: -150%;
  left: 99%;
  border: 1px solid rgb(24, 24, 24);
  overflow: hidden;
  line-height: 25px;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
  color: rgb(255, 255, 255);
}

.hoverContainer .spanDescription div:first-child {
  font-size: 20px;
  color: #ebebebce;
}

.descriptionText .descriptionText_title {
  margin: 5%;
  font-size: 1.5vw;
  margin-left: 30%;
  margin-bottom: 15%;
  color: #dddddd86;
  font-weight: 300;
  line-height: 40px;
}

.descriptionText .descriptionText_sub_title {
  margin: 5%;
  font-size: 1.3vw;
  margin-right: 30%;
  color: #8d8d8d;
  font-weight: 300;
  line-height: 40px;
}
